@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Oswald:wght@200;300;400;500;600;700&family=Readex+Pro:wght@200;300;400&family=Source+Code+Pro&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Orbitron', sans-serif;
  font-family: 'Oswald', sans-serif;
  font-family: 'Readex Pro', sans-serif;
  font-family: 'Source Code Pro', monospace;
}

nav {
  margin-top: 10px;
  text-align: center;
  font-size: 40px;
}

.container {
  text-align: center;
  text-decoration: none;
  margin-top: 100px;
}

.bc {
  font-size: 50px;
  background-color: aliceblue;
}

.clk {
  text-decoration: none;
  margin-top: 40px;
  font-size: 20px;
}